<div class="auth-ctr-inr">
  <h1 class="heading-md form-hd">{{ formHeading() }}</h1>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth-form">
    @if (formType() == 'register') {
    <div class="form-inpt-grp">
      <label for="username" class="form-lbl">Username</label>
      <input
        id="username"
        class="body-txt"
        formControlName="username"
        type="text"
        placeholder="Sam Altman"
        required
      />
    </div>
    }
    <div class="form-inpt-grp">
      <label for="email" class="form-lbl">Email</label>
      <input
        id="email"
        class="body-txt"
        formControlName="email"
        type="text"
        placeholder="samaltman@gmail.com"
        required
      />
    </div>
    <div class="form-inpt-grp">
      <label for="password" class="form-lbl">Password</label>
      <input
        id="password"
        class="body-txt"
        formControlName="password"
        type="text"
        placeholder="deepseekftw"
        required
      />
    </div>

    <button class="btn form-btn" type="submit" [disabled]="isLoading">
      Submit
    </button>
    <button
      class="btn-outline btn-oauth"
      type="button"
      (click)="signInWithGoogle()"
    >
      <img class="oauth-icon" src="/assets/images/google-oauth-icon.png" />
      Sign {{ formType() == "register" ? "up" : "in" }} with Google
    </button>
    @if (authError) {
    <p class="sub-txt form-err">{{ authError }}</p>
    }
    <p class="body-txt">
      @if (formType() == 'register') { Already have an account? Sign in
      <a class="link" routerLink="/login">here</a> } @else { Don't have an
      account? Create one <a class="link" routerLink="/register">here</a>
      }
    </p>
  </form>
</div>
