/* Defaults */

html, body {
    font-family: 'Geist', sans-serif;
    background-color: #FFFDF9;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
}



img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

/* Utilities */

.btn {
    font-family: 'Geist', sans-serif;
    color: #FFFDF9;
    background-color: #000000;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

.btn-outline {
    font-family: 'Geist', sans-serif;
    color: #000000;
    background-color: #FFFDF9;
    border: 1px solid #9AA6B2;
    border-radius: 6px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

.btn:disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.btn-outline:disabled {
    background-color: #e0e0e0; 
    color: #a0a0a0; 
    border: 1px solid #d0d0d0; 
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.heading-lg {
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -6px;
    margin: 0;
    padding: 0;
}

.heading-md {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -3px;
    margin: 0;
    padding: 0;
}


.heading-sm {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}

.body-txt {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.sub-txt {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.full-vp {
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.centered {
    justify-content: center;
    align-items: center;
}

.ctr {
    margin: 0;
    padding: 1vw;
}

.hide {
    display: none;
}

.show {
    display: unset;
}

/* Nav */

.nav-ctr {
    justify-content: end;
    align-items: center;
    gap: 6px;
}

/* Home */

.hero-ctr {
    flex: 1;
}

.hero-ctr-inr {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.hero-hd {
    display: none;
}

.hero-pg {
    width: 360px;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    margin: 0;
    padding: 0;
}

.hero-btn {
    align-self: center;
}

/* Idea Form */

.idea-form-ctr {
    align-self: center;
    width: fit-content;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.idea-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.idea-form-inpt-grp {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.idea-form-lbl {
    font-weight: 600;
}

.idea-form select,
.idea-form input {
    background-color: #ffffff;
    padding: 8px 4px;
    border: 1px solid #9AA6B2;
    border-radius: 6px;
}

.idea-form select {
    padding: 8px 4px;
}

.idea-form input {
    padding: 8px;
}

.idea-form-radio-ctr {
    display: flex;
    gap: 8px;
}

.idea-form input[type=radio] {
    margin: 3px 3px 0 0;
}

.idea-form-btn {
    margin-top: 15px;
    align-self: flex-start;
}

/* Cards */

.card-ctr {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 22%;
    padding: 50px;
    border: 1px solid #9AA6B2;
    border-radius: 20px;
}

.card-btn-ctr {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Fonts */

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Black.woff2') format('woff2'),
            url('/assets/fonts/Geist-Black.ttf') format('truetype'),
            url('/assets/fonts/Geist-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-ExtraBold.woff2') format('woff2'),
         url('/assets/fonts/Geist-ExtraBold.ttf') format('truetype'),
         url('/assets/fonts/Geist-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
  
@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Bold.woff2') format('woff2'),
         url('/assets/fonts/Geist-Bold.ttf') format('truetype'),
         url('/assets/fonts/Geist-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-SemiBold.woff2') format('woff2'),
         url('/assets/fonts/Geist-SemiBold.ttf') format('truetype'),
         url('/assets/fonts/Geist-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Medium.woff2') format('woff2'),
         url('/assets/fonts/Geist-Medium.ttf') format('truetype'),
         url('/assets/fonts/Geist-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Regular.woff2') format('woff2'),
         url('/assets/fonts/Geist-Regular.ttf') format('truetype'),
         url('/assets/fonts/Geist-Regular.otf') format('opentype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Light.woff2') format('woff2'),
         url('/assets/fonts/Geist-Light.ttf') format('truetype'),
         url('/assets/fonts/Geist-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-ExtraLight.woff2') format('woff2'),
         url('/assets/fonts/Geist-ExtraLight.ttf') format('truetype'),
         url('/assets/fonts/Geist-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
  
@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Thin.woff2') format('woff2'),
         url('/assets/fonts/Geist-Thin.ttf') format('truetype'),
         url('/assets/fonts/Geist-Thin.otf') format('opentype');
    font-weight: 100; 
    font-style: normal;
}