/* Defaults */

html, body {
    font-family: 'Geist', sans-serif;
    background-color: #FFFDF9;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
}



img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

/* Utilities */

.btn {
    font-family: 'Geist', sans-serif;
    color: #FFFDF9;
    background-color: #000000;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

.btn-outline {
    font-family: 'Geist', sans-serif;
    color: #000000;
    background-color: #FFFDF9;
    border: 1px solid #9AA6B2;
    border-radius: 6px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

.btn:disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.btn-outline:disabled {
    background-color: #e0e0e0; 
    color: #a0a0a0; 
    border: 1px solid #d0d0d0; 
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.heading-lg {
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -5px;
    margin: 0;
    padding: 0;
}

.heading-md {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -3px;
    margin: 0;
    padding: 0;
}


.heading-sm {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}

.body-txt {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}

.sub-txt {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
}

.full-vp {
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.centered {
    justify-content: center;
    align-items: center;
}

.ctr {
    margin: 0;
    padding: 1vw;
}

.hide {
    display: none;
}

.show {
    display: unset;
}

.link {
    text-decoration: underline;
}

/* Nav */

.nav-ctr {
    justify-content: end;
    align-items: center;
    gap: 6px;
}

/* Home */

.hero-ctr {
    flex: 1;
}

.hero-ctr-inr {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.hero-hd {
    display: none;
}

.hero-pg {
    width: 360px;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    margin: 0;
    padding: 0;
}

.hero-btn {
    align-self: center;
}

/* Forms */

select,
input {
    font-family: 'Geist', sans-serif;
    background-color: #ffffff;
    border: 1px solid #9AA6B2;
    border-radius: 6px;
}

select {
    padding: 8px 4px;
}

input[type="text"] {
    padding: 8px;
}

input[type=radio] {
    margin: 3px 3px 0 0;
}

.form-inpt-grp {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-lbl {
    font-weight: 600;
}

.form-btn {
    margin: 15px 0;
    align-self: flex-start;
}

/* Form - Auth */

.auth-ctr-otr {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-ctr-inr {
    display: flex;
    flex-direction: column;
}

.auth-hd {
    margin-bottom: 30px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Form - Idea Generator*/

.idea-form-ctr {
    align-self: center;
    width: fit-content;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.idea-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.idea-form-radio-ctr {
    display: flex;
    gap: 8px;
}

/* Cards */

.card-ctr {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 22%;
    padding: 50px;
    border: 1px solid #9AA6B2;
    border-radius: 20px;
}

.card-btn-ctr {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Loader */

.ldr-ctr {
    background-color: #000000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ldr {
    width: 50px;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,#ffffff 92%,#0000);
    background: 
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 12px 12px;
    animation: l7 1s infinite;
}

@keyframes l7 {to{transform: rotate(.5turn)}}

