/* Defaults */

html, body {
    font-family: 'Geist', sans-serif;
    background-color: #FFFDF9;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

/* Utilities */

.heading-lg {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
}

.body-txt {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.sub-txt {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.full-vp {
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.centered {
    justify-content: center;
    align-items: center;
}

.ctr {
    margin: 0;
    padding: 1vw;
}

.hide {
    display: none;
}

.show {
    display: unset;
}

/* Nav */

.nav-ctr {
    justify-content: end;
    align-items: center;
    gap: 6px;
}

/* Home */

.hero-ctr {
    flex: 1;
}

.hero-hd {
    display: none;
}

.hero-pg {
    width: 360px;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Black.woff2') format('woff2'),
            url('/assets/fonts/Geist-Black.ttf') format('truetype'),
            url('/assets/fonts/Geist-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-ExtraBold.woff2') format('woff2'),
         url('/assets/fonts/Geist-ExtraBold.ttf') format('truetype'),
         url('/assets/fonts/Geist-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
  
@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Bold.woff2') format('woff2'),
         url('/assets/fonts/Geist-Bold.ttf') format('truetype'),
         url('/assets/fonts/Geist-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-SemiBold.woff2') format('woff2'),
         url('/assets/fonts/Geist-SemiBold.ttf') format('truetype'),
         url('/assets/fonts/Geist-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Medium.woff2') format('woff2'),
         url('/assets/fonts/Geist-Medium.ttf') format('truetype'),
         url('/assets/fonts/Geist-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Regular.woff2') format('woff2'),
         url('/assets/fonts/Geist-Regular.ttf') format('truetype'),
         url('/assets/fonts/Geist-Regular.otf') format('opentype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Light.woff2') format('woff2'),
         url('/assets/fonts/Geist-Light.ttf') format('truetype'),
         url('/assets/fonts/Geist-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-ExtraLight.woff2') format('woff2'),
         url('/assets/fonts/Geist-ExtraLight.ttf') format('truetype'),
         url('/assets/fonts/Geist-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
  
@font-face {
    font-family: 'Geist';
    src: url('/assets/fonts/Geist-Thin.woff2') format('woff2'),
         url('/assets/fonts/Geist-Thin.ttf') format('truetype'),
         url('/assets/fonts/Geist-Thin.otf') format('opentype');
    font-weight: 100; 
    font-style: normal;
}