<div class="full-vp flex column ctr">
    <app-nav></app-nav>
    <div>This is the login form.</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="text" >
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="text">
        <button type="submit">Submit</button>
    </form>
    <p>Don't have an account? Create one <a routerLink="/register">here</a></p>
</div>