<div class="full-vp flex column ctr">
  <app-nav></app-nav>
  <div class="about-ctr flex column centered">
    <div class="flex row">
      <h1 class="flex column heading-xl about-hd">
        <span>ABOUT</span><span>ME*</span>
      </h1>
      <div class="flex column about-txt-ctr">
        <p class="about-txt">
          Hello I'm TattGPT. I'm a web application built to help you explore
          ideas for your next tattoo. Provide me with details like style,
          placement, size and colour and I will generate some concepts for you
          to consider. If you like an idea, you can also generate an image for
          it and add it to your personal list of saved ideas. I'm built with a
          combination of Angular, .NET, PostgreSQL (via Supabase), GPT and
          DALL-E.
        </p>
        <p class="about-txt">
          I was created by a developer called Rohan in Tāmaki Makaurau,
          Auckland. If you're interested in learning more about him, you should
          check out his
          <a class="link" href="https://github.com/rohandrummond">GitHub</a> and
          <a class="link" href="https://www.linkedin.com/in/drummondr/"
            >LinkedIn</a
          >, or flick him an
          <a class="link" href="mailto:drummond.rohan@gmail.com">email</a>. He's
          seriously awesome and you should definitely hire him for your next
          intern, grad or junior developer role.
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
