<div class="full-vp flex column ctr">
    <app-nav class="hide"></app-nav>
    <div class="hero-ctr flex column centered">
        <div class="hero-ctr-inr">
            <h1 class="heading-lg hero-hd" id="first-heading"></h1>
            <h1 class="heading-lg hero-hd" id="second-heading"></h1>
            <a class="btn hero-btn hide" routerLink="/form">Try me</a>
        </div>
        <p class="hero-pg sub-txt hide">
            This application uses AI to generate tattoo ideas and images based on your preferences. 
            Customise your request by selecting details like style, size and body part. Powered by OpenAI.
        </p>
    </div>
</div>
