<div class="full-vp flex column ctr">
    <app-nav></app-nav>
    <div class="hero-ctr flex column centered">
        <h1 class="heading-lg hero-hd" id="first-heading">Hello</h1>
        <h1 class="heading-lg hero-hd" id="second-heading">I'm TattGPT</h1>
        <p class="hero-pg sub-txt">
            This application uses AI to generate tattoo ideas and images based on your preferences. 
            Customise your request by selecting details like style, size and body part. Powered by OpenAI.
        </p>
    </div>
</div>
