<app-loader [isLoading]="isLoading"></app-loader>
<div class="full-vp flex column ctr">
    <app-nav></app-nav>
    <div *ngFor="let idea of ideaData">
        <div [id]="ideaHtmlIds[idea.idea]">
            <p>{{ idea.idea }}</p>
            <p>{{ idea.description }}</p>
            <p>{{ idea.color }}</p>
            <p>{{ idea.placement }}</p>
            <p>{{ idea.size }}</p>
            <ng-container *ngIf="idea.image; else noSavedImage">
                <img [src]="idea.image"/>
            </ng-container>
            <ng-template #noSavedImage>
                <img src="/assets/images/placeholder.png">
                <button (click)="generateImage(idea)" class="gen-img-btn">Generate Image</button>
                <button (click)="appendImage(idea)" class="save-img-btn hide">Save Image</button>
            </ng-template>
            <button (click)="deleteIdea(idea)">Delete Idea</button>
        </div>
    </div>
</div>