<app-loader [isLoading]="isLoading"></app-loader>
<div class="full-vp flex column ctr">
    <app-nav></app-nav>
    @if (ideaData) {
        @if (ideaData.length > 0) {
            @for (item of ideaData; track item.id) {
                <div [id]="ideaHtmlIds[item.idea]">
                    <p>{{ item.idea }}</p>
                    <p>{{ item.description }}</p>
                    <p>{{ item.color }}</p>
                    <p>{{ item.placement }}</p>
                    <p>{{ item.size }}</p>
                    @if (item.image) {
                        <img [src]="item.image"/>
                    } @else {
                        <img src="/assets/images/placeholder.png">
                        <button (click)="generateImage(item)" class="gen-img-btn">Generate Image</button>
                        <button (click)="appendImage(item)" class="save-img-btn hide">Save Image</button>
                    }
                    <button (click)="deleteIdea(item)">Delete Idea</button>
                </div>
            }
        } @else {
            <p>You don't have any saved ideas.</p>
        }
    } 
</div>